<!-- Validation failure messages -->
<% if @guest.errors.any? %>
<% @guest.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Guest</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_guest" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for name -->

      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>


        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @guest.name %>">

      </div>

      <div class="form-group">
        <label for="email" class="control-label">
          Email (Not Required)
        </label>


        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @guest.email %>">

      </div>



      <!-- Label and input for accesscode -->

      <div class="form-group">
        <label for="accesscode" class="control-label">
          Access Code
        </label>


        <input type="text" id="accesscode" name="accesscode" placeholder="Accesscode" class="form-control" value="<%= rand(10000000..99999999) %>">

      </div>

      <!-- Label and input for allowedcount -->

      <div class="form-group">
        <label for="allowedcount" class="control-label">
          Number of Allowed Entries (0 for Unlimited)
        </label>


        <input type="text" id="allowedcount" name="allowedcount" placeholder="Allowedcount" class="form-control" value="0">

      </div>



      <!-- Label and input for unrestricted -->

      <div class="checkbox">
        <label for="unrestricted">
          <input type="checkbox" id="unrestricted" name="unrestricted" <%= "checked" if @guest.unrestricted %>>
          Unrestricted Schedule (Must check box if not creating a schedule)
        </label>
      </div>

      <!-- Label and input for geofencing -->

      <div class="checkbox">
        <label for="geo">
          <input type="checkbox" id="geo" name="geo" <%= "checked" if @guest.geo %>>
          Geofencing
        </label>
      </div>

      <button class="btn btn-success">
        Create Guest
      </button>
      or
      <a href="/guests">Cancel</a>

    </form>

  </div>
</div>
