<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <%= @guest.name.titleize %>,
  <br>
  <br>
  You have been granted access to <%= @setting.title %>.
  <br>
  <br>
  Your access code is: <%= @guest.accesscode %>.
  <br>
  <br>
  To enter, follow this link: <a href="www.arachnid.ddns.net:7909">www.arachnid.ddns.net:7909</a> and enter your code. Please verify you can access the site before arriving.
  <br>
  <br>
  -The Moulders
  <br>
  <br>

  <b>Restrictions:</b>
  <br>

  <% if @guest.expire != nil %>
  Your access expires on <%= @guest.expire.to_formatted_s(:long_ordinal) %>.
  <br>
  <% end %>

  <% if @guest.geo == true %>
  You must enable location access on your phone. Please wait for the orange globe icon to turn green.
  <br>
  <% end %>

  <% if @guest.allowedcount != 0 %>
  You are only allowed <%= @guest.allowedcount %> entries.
  <br>
  <% end %>

  <% if @guest.unrestricted == false %>
  Allowed entry times:
  <br>
  <table>

    <tr>
      <th>Day</th>

      <th>Start time</th>

      <th>Stop time</th>

    </tr>


    <% @guest.schedules.sort_by{|e| [@SORT_ORDER.index(e[:day]), e[:start_time].to_f]}.each do |schedule| %>
    <tr>

      <td><%= schedule.day %></td>

      <td><%= schedule.start_time.strftime("%I:%M %p") %></td>

      <td><%= schedule.stop_time.strftime("%I:%M %p") %></td>

    </tr>
    <% end %>
  </table>
  <% end %>

  <br>
  Please do not reply to this message. The mailbox is unmonitored.
</body>
</html>
